.editor-styles-wrapper {
  font-family: var(--wp--preset--font-family--inter);
}

.is-style-pirepe-frame {
  border: 1px dashed var(--wp--preset--color--muted);
  padding: var(--wp--preset--spacing--sm);
}
